extends ../shared/layoutAdmin
block content
    link(href='/libs/fuelux/dist/css/fuelux.min.css', rel='stylesheet')
    link(href='/libs/sweetalert/dist/sweetalert.css', rel='stylesheet')
    link(href='/libs/form.validation/dist/css/formValidation.min.css', rel='stylesheet')
    .row.wrapper.border-bottom.white-bg.page-heading
        .col-lg-8
            h2 编辑文章
    .wrapper.wrapper-content.animated.fadeIn
        .row
            .col-lg-12
                .ibox
                    .ibox-content
                        form#postForm(action='/admin/saveArticle', method='post')
                            .row
                                .col-md-9
                                    .form-group
                                        label(for='Title') 标题
                                        input#Title.form-control(type='text', name='Title', placeholder='请输入标题',value=post.Title)
                                .col-md-3
                                    .form-group
                                        label(for='CategoryId', style='display:block;') 分类
                                        #Categorylist.btn-group.selectlist(data-resize='auto', data-initialize='selectlist')
                                            button.btn.btn-white.dropdown-toggle(data-toggle='dropdown', type='button')
                                                span.selected-label
                                                span.caret
                                                span.sr-only Toggle Dropdown
                                            ul.dropdown-menu(role='menu')
                                            input#CategoryId.hidden.hidden-field(type='text', name='CategoryId', readonly='readonly', aria-hidden='true',value=post.CategoryId)
                            .row
                                .col-md-9
                                    .form-group
                                        label(for='Alias') Alias
                                        input#Alias.form-control(type='text', name='Alias', placeholder='请输入Alias',value=post.Alias)
                                .col-md-3
                                    .form-group
                                        button.btn.btn-sm.btn-white.btn-alias(type='button')
                                            i.fa.fa-flash
                                            |  根据标题自动生成
                            .form-group
                                label(for='Summary') 摘要
                                textarea#Summary.form-control(name='Summary', style='min-width: 100%;max-width: 100%;', placeholder='请输入摘要')
                                    !=post.Summary
                            .form-group
                                label(style='display:block;') 来源
                                label#soruceLocal.radio-custom.radio-inline(data-initialize='radio')
                                    input.sr-only(data-toggle='#block-local', name='Source', type='radio', value='0', checked='checked')
                                    |  本地
                                label#soruceLink.radio-custom.radio-inline(data-initialize='radio')
                                    input.sr-only(data-toggle='#block-link', name='Source', type='radio', value='1')
                                    |                                 外链
                            #block-local
                                .form-group
                                    label(for='pillbox-input') 标签
                                    #myPillbox.pillbox(data-initialize='pillbox')
                                        ul.clearfix.pill-group
                                            li.pillbox-input-wrap.btn-group
                                                a.pillbox-more
                                                    | and
                                                    span.pillbox-more-count
                                                    |  more...
                                                input#pillbox-input.form-control.dropdown-toggle.pillbox-add-item(type='text', placeholder='回车新增')
                                                button.dropdown-toggle.sr-only(type='button')
                                                    span.caret
                                                    span.sr-only Toggle Dropdown
                                                ul.suggest.dropdown-menu(role='menu', data-toggle='dropdown', data-flip='auto')
                                    input#Labels(type='hidden', name='Labels',value=post.Labels)
                                .form-group
                                    label 正文
                                    script#editor(type='text/plain')
                                        !=post.Content
                            #block-link
                                .form-group
                                    label(for='Url') Url
                                    input#Url.form-control(type='text', name='Url', placeholder='请输入链接地址',value=post.Url)
                            div
                                if(!post.IsDraft)
                                    button#btnUpdate.btn.btn-primary(type='submit')
                                        i.fa.fa-cloud-upload
                                        |  更新
                                    =' '
                                    a.btn.btn-white(href='/admin/articlemanage')
                                        i.fa.fa-reply
                                        |  返回
                                else
                                    button#btnPublish.btn.btn-danger(type='submit')
                                        i.fa.fa-send
                                        |  发布
                                    =' '
                                    button#btnSave.btn.btn-primary(type='button')
                                        i.fa.fa-save
                                        |  保存草稿
                                    =' '
                                    a.btn.btn-white(href='/admin/articlemanage')
                                        i.fa.fa-reply
                                        |  返回
                                input#UniqueId(type='hidden',name='UniqueId',value=post._id)
                                input#IsDraft(type='hidden',name='IsDraft',value='#{post.IsDraft ? "True" : "False"}')
    script(type='text/javascript', src='/libs/jquery/dist/jquery.min.js', charset='utf-8')
    script(type='text/javascript', src='/libs/bootstrap/dist/js/bootstrap.min.js', charset='utf-8')
    script(type='text/javascript', src='/libs/form.validation/dist/js/formValidation.min.js', charset='utf-8')
    script(type='text/javascript', src='/libs/form.validation/dist/js/framework/bootstrap.min.js', charset='utf-8')
    script(type='text/javascript', src='/libs/form.validation/dist/js/language/zh_CN.js', charset='utf-8')
    script(type='text/javascript', src='/libs/metisMenu/dist/metisMenu.min.js', charset='utf-8')
    script(type='text/javascript', src='/javascripts/admin.js', charset='utf-8')
    script(type='text/javascript', src='/libs/ueditor/ueditor.config.js', charset='utf-8')
    script(type='text/javascript', src='/libs/ueditor/ueditor.all.js', charset='utf-8')
    script(type='text/javascript', src='/libs/ueditor/dialogs/insertalert/insertalert.js', charset='utf-8')
    script(type='text/javascript', src='/libs/ueditor/dialogs/inserticon/inserticon.js', charset='utf-8')
    script(type='text/javascript', src='/libs/ueditor/dialogs/insertlabel/insertlabel.js', charset='utf-8')
    script(type='text/javascript', src='/libs/fuelux/dist/js/fuelux.min.js', charset='utf-8')
    script(type='text/javascript', src='/libs/sweetalert/dist/sweetalert.min.js', charset='utf-8')
    script(type='text/javascript', src='/libs/js-md5/js/md5.min.js', charset='utf-8')
    script.
        var categoryId = '#{post.CategoryId}';
        var source = '#{post.Source}';
        var translateKey = '#{settings.TranslateKey}';
    script(type='text/javascript', src='/javascripts/editarticle.js', charset='utf-8')