extends ../shared/layoutAdmin
block content
    link(href='/libs/fuelux/dist/css/fuelux.min.css', rel='stylesheet')
    link(href='/libs/blueimp-file-upload/css/jquery.fileupload.css', rel='stylesheet')
    link(href='/libs/switchery/dist/switchery.min.css', rel='stylesheet')
    link(href='/libs/sweetalert/dist/sweetalert.css', rel='stylesheet')
    .row.wrapper.border-bottom.white-bg.page-heading
        .col-lg-8
            h2 系统设置
    .wrapper.wrapper-content.animated.fadeIn
        .row
            .col-lg-12
                .ibox
                    .ibox-content
                        form#postForm(action='/admin/saveSettings', method='post')
                            .panel-group(role='tablist', aria-multiselectable='false')
                                .row
                                    .col-md-6(style='margin-bottom:10px;')
                                        .panel.panel-default
                                            #headingSite.panel-heading(role='tab')
                                                h4.panel-title
                                                    a(role='button', data-toggle='collapse', href='#tabSite', aria-expanded='true', aria-controls='tabSite')
                                                        | 站点设置
                                            #tabSite.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingSite')
                                                ul.list-group
                                                    li.list-group-item.clearfix
                                                        .pull-left
                                                            | 网站名称
                                                        .pull-right
                                                            input#SiteName.form-control(type='text', name='SiteName', placeholder='该网站的名称', value=settings.SiteName)
                                                    li.list-group-item.clearfix
                                                        .pull-left
                                                            | 网站域名
                                                        .pull-right
                                                            input#SiteDomain.form-control(type='text', name='SiteDomain', placeholder='该网站的域名', value=settings.SiteDomain)
                                                    li.list-group-item.clearfix
                                                        .pull-left
                                                            | 备案号（用于底部显示）
                                                        .pull-right
                                                            input#RecordNo.form-control(type='text', name='RecordNo', placeholder='网站域名的备案号', value=settings.RecordNo)
                                                    li.list-group-item.clearfix
                                                        .pull-left
                                                            | 网站logo
                                                        .pull-right
                                                            span.fileinput-button
                                                                img.img-circle.profile-img(alt='profile', src=settings.LogoPath, style='width:146px;height:146px;')
                                                                input.fileupload(type='file', name='file')
                                                                input#LogoPath(type='hidden', name='LogoPath',value=settings.LogoPath)
                                                    li.list-group-item.clearfix
                                                        .pull-left
                                                            | 每页显示文章数
                                                        .pull-right
                                                            .spinbox(data-initialize='spinbox', data-step='5')
                                                                input#PageSize.form-control.input-mini.spinbox-input(type='text', name='PageSize', placeholder='每页的条数', value=settings.PageSize)
                                                                .spinbox-buttons.btn-group.btn-group-vertical
                                                                    button.btn.btn-white.spinbox-up.btn-xs(type='button')
                                                                        span.fa.fa-chevron-up
                                                                        span.sr-only Increase
                                                                    button.btn.btn-white.spinbox-down.btn-xs(type='button')
                                                                        span.fa.fa-chevron-down
                                                                        span.sr-only Decrease
                                                    li.list-group-item.clearfix
                                                        .pull-left
                                                            | 默认展开文章目录
                                                        .pull-right
                                                            input#ExpandMenu(type='hidden', name='ExpandMenu', value=settings.ExpandMenu)
                                                            input.js-switch(type='checkbox', checked=settings.ExpandMenu === 'true')
                                                    li.list-group-item.clearfix
                                                        .pull-left
                                                            | 缓存过期时间（秒）
                                                        .pull-right
                                                            .spinbox(data-initialize='spinbox',data-max='9999999')
                                                                input#CacheExpired.form-control.input-mini.spinbox-input(type='text', name='CacheExpired', placeholder='缓存过期时间', value=settings.CacheExpired)
                                                                .spinbox-buttons.btn-group.btn-group-vertical
                                                                    button.btn.btn-white.spinbox-up.btn-xs(type='button')
                                                                        span.fa.fa-chevron-up
                                                                        span.sr-only Increase
                                                                    button.btn.btn-white.spinbox-down.btn-xs(type='button')
                                                                        span.fa.fa-chevron-down
                                                                        span.sr-only Decrease
                                    .col-md-6(style='margin-bottom:10px;')
                                        .panel.panel-default
                                            #headingComponent.panel-heading(role='tab')
                                                h4.panel-title
                                                    a(role='button', data-toggle='collapse', href='#tabComponent', aria-expanded='true', aria-controls='tabComponent')
                                                        | 组件设置
                                            #tabComponent.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingComponent')
                                                ul.list-group
                                                    li.list-group-item.clearfix
                                                        .pull-left
                                                            a(href='http://api.fanyi.baidu.com', target='_blank') 百度翻译
                                                            | key（用于文章Url显示）
                                                        .pull-right
                                                            input#TranslateKey.form-control(type='text', name='TranslateKey', placeholder='申请的翻译key', value=settings.TranslateKey)
                                                    li.list-group-item.clearfix
                                                        .pull-left
                                                            | 启用统计功能（
                                                            a(href='http://tongji.baidu.com', target='_blank') 百度统计
                                                            | ）
                                                        .pull-right
                                                            input#EnableStatistics(type='hidden', name='EnableStatistics', value=settings.EnableStatistics)
                                                            input.js-switch(type='checkbox', checked=settings.EnableStatistics === 'true')
                                                    li.list-group-item.clearfix
                                                        .pull-left
                                                            | 百度统计id
                                                        .pull-right
                                                            input#StatisticsId.form-control(type='text', name='StatisticsId', placeholder='申请的统计id', value=settings.StatisticsId)
                                                    li.list-group-item.clearfix
                                                        .pull-left
                                                            | 启用分享功能（
                                                            a(href='http://www.jiathis.com/', target='_blank') JisThis
                                                            | ）
                                                        .pull-right
                                                            input#EnableShare(type='hidden', name='EnableShare', value=settings.EnableShare)
                                                            input.js-switch(type='checkbox', checked=settings.EnableShare === 'true')
                                                    li.list-group-item.clearfix
                                                        .pull-left
                                                            | JiaThis分享id
                                                        .pull-right
                                                            input#JiaThisId.form-control(type='text', name='JiaThisId', placeholder='申请的分享id', value=settings.JiaThisId)
                                                    li.list-group-item.clearfix
                                                        .pull-left
                                                            | 显示文章评论（
                                                            a(href='http://changyan.kuaizhan.com', target='_blank') 畅言
                                                            | ）
                                                        .pull-right
                                                            input#ShowComments(type='hidden', name='ShowComments', value=settings.ShowComments)
                                                            input.js-switch(type='checkbox', checked=settings.ShowComments === 'true')
                                                    li.list-group-item.clearfix
                                                        .pull-left
                                                            | 畅言appid
                                                        .pull-right
                                                            input#ChangyanId.form-control(type='text', name='ChangyanId', placeholder='申请的appid', value=settings.ChangyanId)
                                                    li.list-group-item.clearfix
                                                        .pull-left
                                                            | 畅言conf
                                                        .pull-right
                                                            input#ChangyanConf.form-control(type='text', name='ChangyanConf', placeholder='申请的conf', value=settings.ChangyanConf)
                                                    li.list-group-item.clearfix
                                                        .pull-left
                                                            | 显示留言（
                                                            a(href='http://www.uyan.cc/', target='_blank') 友言
                                                            | ）
                                                        .pull-right
                                                            input#ShowGuestbook(type='hidden', name='ShowGuestbook', value=settings.ShowGuestbook)
                                                            input.js-switch(type='checkbox', checked=settings.ShowGuestbook === 'true')
                                                    li.list-group-item.clearfix
                                                        .pull-left
                                                            | 友言uid
                                                        .pull-right
                                                            input#YouyanId.form-control(type='text', name='YouyanId', placeholder='申请的uid', value=settings.YouyanId)

                                .row
                                    .col-lg-12
                                        button#btnSave(type='button', class='btn btn-primary', role='button')
                                            i.fa.fa-cloud-upload
                                            |  保存修改
    script(type='text/javascript', src='/libs/jquery/dist/jquery.min.js', charset='utf-8')
    script(type='text/javascript', src='/libs/bootstrap/dist/js/bootstrap.min.js', charset='utf-8')
    script(type='text/javascript', src='/libs/metisMenu/dist/metisMenu.min.js', charset='utf-8')
    script(type='text/javascript', src='/javascripts/admin.js', charset='utf-8')
    script(type='text/javascript', src='/libs/blueimp-file-upload/js/vendor/jquery.ui.widget.js', charset='utf-8')
    script(type='text/javascript', src='/libs/blueimp-file-upload/js/jquery.fileupload.js', charset='utf-8')
    script(type='text/javascript', src='/libs/fuelux/dist/js/fuelux.min.js', charset='utf-8')
    script(type='text/javascript', src='/libs/sweetalert/dist/sweetalert.min.js', charset='utf-8')
    script(type='text/javascript', src='/libs/switchery/dist/switchery.min.js', charset='utf-8')
    script(type='text/javascript', src='/javascripts/settings.js', charset='utf-8')

