doctype html
html(lang='zh-CN')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='/static/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='/static/css/bootstrap-addon.css', rel='stylesheet')
        link(href='/static/css/site.css', rel='stylesheet')
        link(href='/static/css/error.css', rel='stylesheet')
        title=title
    body
        .container-fluid.back-img
            .row
                .col-md-8.col-md-offset-2
                    .error-block
                        h1=code
                        .desc=message
                        div=error
                        a.btn.btn-green.btn-lg(href='/')
                            i.fa.fa-home
                            |  #{__("error.back_to_home")}
